<div class="column is-full-mobile is-half-tablet is-half-desktop  is-one-fifth-fullhd">
    <div class="user">
        <div id="site"><span class="font">{{site_name}}</span></div>
        <div id="city"><span class="font"> {{city_name}}</span></div>
        <div id="rating"><span class="font"> {{rating}}</span> <a class="savebutton"><image id="c3p" src="/img/Remove.png"></a></div>
        <p id="picture"><image class="image-size" src={{picture}} /image></p>
        <div id="description"><span class="font">{{description}}</span></div>
    </div>
</div>

<body onload="removeStuff()"></body>
  <script src="/js/delete.js"></script>